@{
    ViewData["Title"] = "Политика конфиденциальности";
}

<div class="container">
    <h1>@ViewData["Title"]</h1>

    <p>Здесь должна быть политика конфиденциальности, но это что-то страшное.</p>
    <p>Поэтому тут Котик</p>
    <img class="img-fluid my-center" src="/files/cat.gif">
</div>
